In [234]:
# Initial imports
import pandas as pd
import datetime
import pandas_datareader.data as web
import numpy as np
# from pandas import Series, DataFrame

start = datetime.datetime(2012, 4, 1)
end = datetime.datetime.now()

# For this example, Code is written using crude ETF “USO” instead of WTI commodity ticker
# USO has been traded since April 10, 2006

In [235]:
# Bring in stock price closing data, via Yahoo! Finance, for USO XLP XLY since 4/1/2012 to today 

dfcomp = web.DataReader(['USO', 'XLP', 'XLY'],'yahoo',start=start,end=end)['Adj Close']

In [236]:
# Calculate the daily percentage change using closing price

dfcomp_daily_returns = dfcomp.pct_change()

In [237]:
# Print out dataframe

dfcomp_daily_returns.head()

Symbols          USO       XLP       XLY
Date
2012-04-02       NaN       NaN       NaN
2012-04-03 -0.009243 -0.005531 -0.001991
2012-04-04 -0.020676 -0.003221 -0.009309
2012-04-05  0.010814  0.000000  0.006935
2012-04-09 -0.007387 -0.009104 -0.009109

In [238]:
# Add column for USO 5-Day rolling cumulative percentage change 

dfcomp_daily_returns["5_day_cmlt_%"] = dfcomp_daily_returns["USO"].rolling(5).apply(lambda x: np.prod(1+x)-1)

In [239]:
# Print out dataframe

dfcomp_daily_returns.head(7)

Symbols          USO       XLP       XLY  5_day_cmlt_%
Date
2012-04-02       NaN       NaN       NaN           NaN
2012-04-03 -0.009243 -0.005531 -0.001991           NaN
2012-04-04 -0.020676 -0.003221 -0.009309           NaN
2012-04-05  0.010814  0.000000  0.006935           NaN
2012-04-09 -0.007387 -0.009104 -0.009109           NaN
2012-04-10 -0.011804 -0.008891 -0.024439     -0.037972
2012-04-11  0.012984  0.005084  0.013790     -0.016389

In [240]:
# Add column for (XLP minus XLY) performance

dfcomp_daily_returns["XLP-XLY"] = dfcomp_daily_returns["XLP"] - dfcomp_daily_returns["XLY"]

In [241]:
# Print out dataframe

dfcomp_daily_returns.head()

Symbols          USO       XLP       XLY  5_day_cmlt_%   XLP-XLY
Date
2012-04-02       NaN       NaN       NaN           NaN       NaN
2012-04-03 -0.009243 -0.005531 -0.001991           NaN -0.003540
2012-04-04 -0.020676 -0.003221 -0.009309           NaN  0.006088
2012-04-05  0.010814  0.000000  0.006935           NaN -0.006935
2012-04-09 -0.007387 -0.009104 -0.009109           NaN  0.000005

In [242]:
# Add column for 10-day forward rolling pecentage change for (XLP - XLY) starting the day after 
# occurences of USO 5-Day rolling cumulative percentage change > 10%

dfcomp_daily_returns["output_10"] = dfcomp_daily_returns["XLP-XLY"].rolling(10).apply(lambda x: np.prod(1+x)-1).shift(-10).where(dfcomp_daily_returns["5_day_cmlt_%"] > 0.1, np.nan)

In [243]:
# Print out dataframe

dfcomp_daily_returns.head(65)

Symbols          USO       XLP       XLY  5_day_cmlt_%   XLP-XLY  output_10
Date
2012-04-02       NaN       NaN       NaN           NaN       NaN        NaN
2012-04-03 -0.009243 -0.005531 -0.001991           NaN -0.003540        NaN
2012-04-04 -0.020676 -0.003221 -0.009309           NaN  0.006088        NaN
2012-04-05  0.010814  0.000000  0.006935           NaN -0.006935        NaN
2012-04-09 -0.007387 -0.009104 -0.009109           NaN  0.000005        NaN
...              ...       ...       ...           ...       ...        ...
2012-06-27  0.013083  0.005921 -0.001390     -0.009511  0.007311        NaN
2012-06-28 -0.023179  0.004414 -0.005567      0.001358  0.009981        NaN
2012-06-29  0.078983  0.018752  0.021227      0.057475 -0.002475        NaN
2012-07-02 -0.012567  0.005752  0.002969      0.054698  0.002783        NaN
2012-07-03  0.048043  0.004575 -0.000911      0.104998  0.005486   0.001848

[65 rows x 6 columns]

In [244]:
# Add column for 30-day forward rolling pecentage change for (XLP - XLY) starting the day after 
# occurences of USO 5-Day rolling cumulative percentage change > 10%

dfcomp_daily_returns["output_30"] = dfcomp_daily_returns["XLP-XLY"].rolling(30).apply(lambda x: np.prod(1+x)-1).shift(-30).where(dfcomp_daily_returns["5_day_cmlt_%"] > 0.1, np.nan)

In [245]:
# Print out dataframe
dfcomp_daily_returns.head()

Symbols,USO,XLP,XLY,5_day_cmlt_%,XLP-XLY,output_10,output_30
Date,,,,,,,
2012-04-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-04-03,-0.009243,-0.005531,-0.001991,NaN,-0.003540,NaN,NaN
2012-04-04,-0.020676,-0.003221,-0.009309,NaN,0.006088,NaN,NaN
2012-04-05,0.010814,0.000000,0.006935,NaN,-0.006935,NaN,NaN
2012-04-09,-0.007387,-0.009104,-0.009109,NaN,0.000005,NaN,NaN

In [246]:
# Different visualization filtering options before you run the "print" option below...

# pd.set_option('display.max_rows', 100)
# pd.set_option('display.max_columns', 7)

In [247]:
print(dfcomp_daily_returns)

Symbols          USO       XLP       XLY  5_day_cmlt_%   XLP-XLY  output_10  \
Date
2012-04-02       NaN       NaN       NaN           NaN       NaN        NaN
2012-04-03 -0.009243 -0.005531 -0.001991           NaN -0.003540        NaN
2012-04-04 -0.020676 -0.003221 -0.009309           NaN  0.006088        NaN
2012-04-05  0.010814  0.000000  0.006935           NaN -0.006935        NaN
2012-04-09 -0.007387 -0.009104 -0.009109           NaN  0.000005        NaN
...              ...       ...       ...           ...       ...        ...
2022-04-13  0.032114  0.005611  0.024867      0.073511 -0.019256        NaN
2022-04-14  0.014665 -0.000254 -0.013983      0.088360  0.013730        NaN
2022-04-18  0.010557 -0.008244  0.003027      0.085009 -0.011271        NaN
2022-04-19 -0.044149  0.015219  0.029004      0.063071 -0.013785        NaN
2022-04-20  0.004944  0.014991 -0.012871      0.016583  0.027863        NaN

Symbols     output_30
Date
2012-04-02        NaN
2012-04-03        NaN
2012-04-04        NaN
2012-04-05        NaN
2012-04-09        NaN
...               ...
2022-04-13        NaN
2022-04-14        NaN
2022-04-18        NaN
2022-04-19        NaN
2022-04-20        NaN

[2530 rows x 7 columns]

In [248]:
# List all dates where the 5-Day rolling % change was > 10%:
### Option 1: Using "pd.where" method   

list(dfcomp_daily_returns.where(dfcomp_daily_returns["5_day_cmlt_%"] > 0.1, np.nan).dropna(subset=["5_day_cmlt_%"]).index)

[Timestamp('2012-07-03 00:00:00'),
 Timestamp('2015-02-02 00:00:00'),
 Timestamp('2015-02-03 00:00:00'),
 Timestamp('2015-02-04 00:00:00'),
 Timestamp('2015-02-05 00:00:00'),
 Timestamp('2015-03-26 00:00:00'),
 Timestamp('2015-04-07 00:00:00'),
 Timestamp('2015-04-16 00:00:00'),
 Timestamp('2015-08-28 00:00:00'),
 Timestamp('2015-08-31 00:00:00'),
 Timestamp('2015-09-01 00:00:00'),
 Timestamp('2015-09-02 00:00:00'),
 Timestamp('2015-10-08 00:00:00'),
 Timestamp('2015-11-03 00:00:00'),
 Timestamp('2016-01-27 00:00:00'),
 Timestamp('2016-01-28 00:00:00'),
 Timestamp('2016-03-07 00:00:00'),
 Timestamp('2016-04-11 00:00:00'),
 Timestamp('2016-04-12 00:00:00'),
 Timestamp('2016-04-14 00:00:00'),
 Timestamp('2016-05-16 00:00:00'),
 Timestamp('2016-08-17 00:00:00'),
 Timestamp('2016-08-18 00:00:00'),
 Timestamp('2016-12-02 00:00:00'),
 Timestamp('2016-12-06 00:00:00'),
 Timestamp('2018-06-27 00:00:00'),
 Timestamp('2018-06-28 00:00:00'),
 Timestamp('2019-01-09 00:00:00'),
 Timestamp('2019-01-10 00:00:00'),
 Timestamp('2019-06-24 00:00:00'),
 Timestamp('2020-04-03 00:00:00'),
 Timestamp('2020-04-06 00:00:00'),
 Timestamp('2020-04-07 00:00:00'),
 Timestamp('2020-04-08 00:00:00'),
 Timestamp('2020-05-04 00:00:00'),
 Timestamp('2020-05-05 00:00:00'),
 Timestamp('2020-05-06 00:00:00'),
 Timestamp('2020-05-08 00:00:00'),
 Timestamp('2020-05-18 00:00:00'),
 Timestamp('2020-05-19 00:00:00'),
 Timestamp('2020-05-20 00:00:00'),
 Timestamp('2020-05-21 00:00:00'),
 Timestamp('2020-05-22 00:00:00'),
 Timestamp('2020-06-05 00:00:00'),
 Timestamp('2021-08-27 00:00:00'),
 Timestamp('2021-12-08 00:00:00'),
 Timestamp('2022-03-02 00:00:00'),
 Timestamp('2022-03-03 00:00:00'),
 Timestamp('2022-03-04 00:00:00'),
 Timestamp('2022-03-07 00:00:00'),
 Timestamp('2022-03-08 00:00:00'),
 Timestamp('2022-03-22 00:00:00'),
 Timestamp('2022-03-23 00:00:00')]

In [249]:
# List all dates where the 5-Day rolling % change was > 10%:
### Option 2: Using standard pandas filtering method   

list(dfcomp_daily_returns[dfcomp_daily_returns["5_day_cmlt_%"] > 0.1].index)

[Timestamp('2012-07-03 00:00:00'),
 Timestamp('2015-02-02 00:00:00'),
 Timestamp('2015-02-03 00:00:00'),
 Timestamp('2015-02-04 00:00:00'),
 Timestamp('2015-02-05 00:00:00'),
 Timestamp('2015-03-26 00:00:00'),
 Timestamp('2015-04-07 00:00:00'),
 Timestamp('2015-04-16 00:00:00'),
 Timestamp('2015-08-28 00:00:00'),
 Timestamp('2015-08-31 00:00:00'),
 Timestamp('2015-09-01 00:00:00'),
 Timestamp('2015-09-02 00:00:00'),
 Timestamp('2015-10-08 00:00:00'),
 Timestamp('2015-11-03 00:00:00'),
 Timestamp('2016-01-27 00:00:00'),
 Timestamp('2016-01-28 00:00:00'),
 Timestamp('2016-03-07 00:00:00'),
 Timestamp('2016-04-11 00:00:00'),
 Timestamp('2016-04-12 00:00:00'),
 Timestamp('2016-04-14 00:00:00'),
 Timestamp('2016-05-16 00:00:00'),
 Timestamp('2016-08-17 00:00:00'),
 Timestamp('2016-08-18 00:00:00'),
 Timestamp('2016-12-02 00:00:00'),
 Timestamp('2016-12-06 00:00:00'),
 Timestamp('2018-06-27 00:00:00'),
 Timestamp('2018-06-28 00:00:00'),
 Timestamp('2019-01-09 00:00:00'),
 Timestamp('2019-01-10 00:00:00'),
 Timestamp('2019-06-24 00:00:00'),
 Timestamp('2020-04-03 00:00:00'),
 Timestamp('2020-04-06 00:00:00'),
 Timestamp('2020-04-07 00:00:00'),
 Timestamp('2020-04-08 00:00:00'),
 Timestamp('2020-05-04 00:00:00'),
 Timestamp('2020-05-05 00:00:00'),
 Timestamp('2020-05-06 00:00:00'),
 Timestamp('2020-05-08 00:00:00'),
 Timestamp('2020-05-18 00:00:00'),
 Timestamp('2020-05-19 00:00:00'),
 Timestamp('2020-05-20 00:00:00'),
 Timestamp('2020-05-21 00:00:00'),
 Timestamp('2020-05-22 00:00:00'),
 Timestamp('2020-06-05 00:00:00'),
 Timestamp('2021-08-27 00:00:00'),
 Timestamp('2021-12-08 00:00:00'),
 Timestamp('2022-03-02 00:00:00'),
 Timestamp('2022-03-03 00:00:00'),
 Timestamp('2022-03-04 00:00:00'),
 Timestamp('2022-03-07 00:00:00'),
 Timestamp('2022-03-08 00:00:00'),
 Timestamp('2022-03-22 00:00:00'),
 Timestamp('2022-03-23 00:00:00')]

In [250]:
# How many occurrences are there where the USO 5-Day rolling average is > 10%?

len(list(dfcomp_daily_returns[dfcomp_daily_returns["5_day_cmlt_%"] > 0.1].index))

53

In [251]:
# What is the average of these 53 occurrences?
dfcomp_daily_returns[dfcomp_daily_returns ["5_day_cmlt_%"] > 0.1]["5_day_cmlt_%"].mean()

0.1511688876057739

In [252]:
# What is the average of these 53 occurrences?
'''
Option #2 - Alternatively, you could use: dfcomp_daily_returns.dropna(subset=["output_30"])["5_day_cum_%"].mean()
as only those which meet the requirement have something in the output_30 column as the Naans are dropped...They 
should result in exactly the same answer. Because the dataframe only has data in column output_30 when the 
condition in met, if you dropna in the column you will only be left with rows where the condition is met. 
It's just another way of filtering the dataframe.

'''
dfcomp_daily_returns.dropna(subset=["output_30"])["5_day_cmlt_%"].mean()

0.15033445306810309

In [253]:
'''
^^ That code actually didnt work. The 2 answers are actually different when tested out. The reason being 
is because this dataframe's data runs up to the 4/20/22. As such, there have been many 
+10%/+10%+ days over the last month AND importantly for our conversation - within the last 30 days. 
Meaning - there are +10% USO 5-day rolling averages in the last 30 days (as recently as 3/23/22) 
where there haven't been 30 days of rolling data yet for (XLP-XLY). The above code did work for doing 
the output_10 bc 10 or more days elapsed since the last 5_day_cum_% occurence

'''

"\n^^ That code actually didnt work. The 2 answers are actually different when tested out. The reason being \nis because this dataframe's data runs up to the 4/20/22. As such, there have been many \n+10%/+10%+ days over the last month AND importantly for our conversation - within the last 30 days. \nMeaning - there are +10% USO 5-day rolling averages in the last 30 days (as recently as 3/23/22) \nwhere there haven't been 30 days of rolling data yet for (XLP-XLY). The above code did work for doing \nthe output_10 bc 10 or more days elapsed since the last 5_day_cum_% occurence\n\n"

In [254]:
# For all dates where rolling 5-Day % change is > than 10%, list the accompanying 10-day and 30-day rolling (XLP - XLY) outputs 
# Option 1: pd.where method

dfcomp_daily_returns.where(dfcomp_daily_returns["5_day_cmlt_%"] > 0.1, np.nan).dropna(subset=["5_day_cmlt_%"])[["5_day_cmlt_%", "output_10", "output_30"]]

Symbols     5_day_cmlt_%  output_10  output_30
Date
2012-07-03      0.104998   0.001848  -0.005786
2015-02-02      0.103734  -0.037411  -0.068169
2015-02-03      0.140035  -0.019496  -0.058421
2015-02-04      0.103865  -0.022713  -0.055402
2015-02-05      0.140887  -0.025789  -0.053029
2015-03-26      0.132463  -0.004100  -0.012493
2015-04-07      0.106210  -0.006336  -0.013398
2015-04-16      0.105935  -0.010106  -0.014685
2015-08-28      0.124717  -0.008943   0.008603
2015-08-31      0.272218  -0.008287   0.007172
2015-09-01      0.163394  -0.013025   0.000927
2015-09-02      0.181676  -0.008180   0.004458
2015-10-08      0.100137   0.008908  -0.032225
2015-11-03      0.105644   0.008136   0.043497
2016-01-27      0.114078   0.065221   0.006266
2016-01-28      0.133177   0.060141  -0.003238
2016-03-07      0.123333  -0.003431  -0.013119
2016-04-11      0.132159  -0.038150  -0.014498
2016-04-12      0.165389  -0.042985  -0.016671
2016-04-14      0.101998   0.000068   0.007731
2016-05-16      0.101124  -0.025153   0.026501
2016-08-17      0.124872   0.002768  -0.012044
2016-08-18      0.106758  -0.002920  -0.014087
2016-12-02      0.111326   0.014897   0.006474
2016-12-06      0.122266   0.013343   0.018870
2018-06-27      0.103163  -0.020938  -0.013417
2018-06-28      0.116454  -0.008983  -0.001020
2019-01-09      0.121827   0.004298   0.001723
2019-01-10      0.115578  -0.019418  -0.009108
2019-06-24      0.111008  -0.021280   0.006680
2020-04-03      0.319911  -0.112236  -0.195427
2020-04-06      0.295508  -0.065048  -0.169086
2020-04-07      0.209026  -0.051152  -0.147579
2020-04-08      0.226027  -0.043339  -0.145766
2020-05-04      0.122717  -0.048511  -0.097966
2020-05-05      0.262324  -0.059961  -0.094447
2020-05-06      0.158333  -0.050865  -0.076505
2020-05-08      0.138388  -0.045070  -0.071661
2020-05-18      0.148323  -0.028273  -0.053530
2020-05-19      0.165475  -0.031034  -0.048230
2020-05-20      0.230097  -0.029691  -0.046001
2020-05-21      0.240093  -0.025178  -0.050050
2020-05-22      0.142028  -0.034349  -0.031312
2020-06-05      0.115533   0.015562  -0.023977
2021-08-27      0.108681  -0.004431  -0.021066
2021-12-08      0.114371   0.069033   0.196244
2022-03-02      0.138587  -0.010718   0.025266
2022-03-03      0.123455  -0.049568   0.008335
2022-03-04      0.207599  -0.082096  -0.018747
2022-03-07      0.220658  -0.100937  -0.061208
2022-03-08      0.189502  -0.090120  -0.006163
2022-03-22      0.144689   0.021774        NaN
2022-03-23      0.200205   0.056209        NaN

In [255]:
# For all dates where rolling 5-Day % change is > than 10%, list the accompanying 10-day and 30-day rolling (XLP - XLY) outputs 
# Option 2: standard pandas row filtering

dfcomp_daily_returns[dfcomp_daily_returns["5_day_cmlt_%"] > 0.1][["5_day_cmlt_%", "output_10", "output_30"]]

Symbols     5_day_cmlt_%  output_10  output_30
Date
2012-07-03      0.104998   0.001848  -0.005786
2015-02-02      0.103734  -0.037411  -0.068169
2015-02-03      0.140035  -0.019496  -0.058421
2015-02-04      0.103865  -0.022713  -0.055402
2015-02-05      0.140887  -0.025789  -0.053029
2015-03-26      0.132463  -0.004100  -0.012493
2015-04-07      0.106210  -0.006336  -0.013398
2015-04-16      0.105935  -0.010106  -0.014685
2015-08-28      0.124717  -0.008943   0.008603
2015-08-31      0.272218  -0.008287   0.007172
2015-09-01      0.163394  -0.013025   0.000927
2015-09-02      0.181676  -0.008180   0.004458
2015-10-08      0.100137   0.008908  -0.032225
2015-11-03      0.105644   0.008136   0.043497
2016-01-27      0.114078   0.065221   0.006266
2016-01-28      0.133177   0.060141  -0.003238
2016-03-07      0.123333  -0.003431  -0.013119
2016-04-11      0.132159  -0.038150  -0.014498
2016-04-12      0.165389  -0.042985  -0.016671
2016-04-14      0.101998   0.000068   0.007731
2016-05-16      0.101124  -0.025153   0.026501
2016-08-17      0.124872   0.002768  -0.012044
2016-08-18      0.106758  -0.002920  -0.014087
2016-12-02      0.111326   0.014897   0.006474
2016-12-06      0.122266   0.013343   0.018870
2018-06-27      0.103163  -0.020938  -0.013417
2018-06-28      0.116454  -0.008983  -0.001020
2019-01-09      0.121827   0.004298   0.001723
2019-01-10      0.115578  -0.019418  -0.009108
2019-06-24      0.111008  -0.021280   0.006680
2020-04-03      0.319911  -0.112236  -0.195427
2020-04-06      0.295508  -0.065048  -0.169086
2020-04-07      0.209026  -0.051152  -0.147579
2020-04-08      0.226027  -0.043339  -0.145766
2020-05-04      0.122717  -0.048511  -0.097966
2020-05-05      0.262324  -0.059961  -0.094447
2020-05-06      0.158333  -0.050865  -0.076505
2020-05-08      0.138388  -0.045070  -0.071661
2020-05-18      0.148323  -0.028273  -0.053530
2020-05-19      0.165475  -0.031034  -0.048230
2020-05-20      0.230097  -0.029691  -0.046001
2020-05-21      0.240093  -0.025178  -0.050050
2020-05-22      0.142028  -0.034349  -0.031312
2020-06-05      0.115533   0.015562  -0.023977
2021-08-27      0.108681  -0.004431  -0.021066
2021-12-08      0.114371   0.069033   0.196244
2022-03-02      0.138587  -0.010718   0.025266
2022-03-03      0.123455  -0.049568   0.008335
2022-03-04      0.207599  -0.082096  -0.018747
2022-03-07      0.220658  -0.100937  -0.061208
2022-03-08      0.189502  -0.090120  -0.006163
2022-03-22      0.144689   0.021774        NaN
2022-03-23      0.200205   0.056209        NaN

In [256]:
'''
Using the above code ^^, if you change the [["5_day_cum%", "output_10", "output_30"]] to just ["output_10"] 
or ["output_10"], you will return all instances of the 5_day_cmlt_% > 0.1.
'''

'\nUsing the above code ^^, if you change the [["5_day_cum%", "output_10", "output_30"]] to just ["output_10"] \nor ["output_10"], you will return all instances of the 5_day_cmlt_% > 0.1.\n'

In [257]:
# dfcomp_daily_returns[dfcomp_daily_returns["5_day_cmlt_%"] > 0.1][["5_day_cmlt_%", "output_10", "output_30"]]

In [258]:
# List all "output_10" instances where "5_day_cmlt_%" > 0.1

'''
# can do it this way as well: 
list(dfcomp_daily_returns[dfcomp_daily_returns ["5_day_cmlt_%"] > 0.1]["output_10"])
'''
dfcomp_daily_returns[dfcomp_daily_returns ["5_day_cmlt_%"] > 0.1]["output_10"]

Date
2012-07-03    0.001848
2015-02-02   -0.037411
2015-02-03   -0.019496
2015-02-04   -0.022713
2015-02-05   -0.025789
2015-03-26   -0.004100
2015-04-07   -0.006336
2015-04-16   -0.010106
2015-08-28   -0.008943
2015-08-31   -0.008287
2015-09-01   -0.013025
2015-09-02   -0.008180
2015-10-08    0.008908
2015-11-03    0.008136
2016-01-27    0.065221
2016-01-28    0.060141
2016-03-07   -0.003431
2016-04-11   -0.038150
2016-04-12   -0.042985
2016-04-14    0.000068
2016-05-16   -0.025153
2016-08-17    0.002768
2016-08-18   -0.002920
2016-12-02    0.014897
2016-12-06    0.013343
2018-06-27   -0.020938
2018-06-28   -0.008983
2019-01-09    0.004298
2019-01-10   -0.019418
2019-06-24   -0.021280
2020-04-03   -0.112236
2020-04-06   -0.065048
2020-04-07   -0.051152
2020-04-08   -0.043339
2020-05-04   -0.048511
2020-05-05   -0.059961
2020-05-06   -0.050865
2020-05-08   -0.045070
2020-05-18   -0.028273
2020-05-19   -0.031034
2020-05-20   -0.029691
2020-05-21   -0.025178
2020-05-22   -0.034349
2020-06-05    0.015562
2021-08-27   -0.004431
2021-12-08    0.069033
2022-03-02   -0.010718
2022-03-03   -0.049568
2022-03-04   -0.082096
2022-03-07   -0.100937
2022-03-08   -0.090120
2022-03-22    0.021774
2022-03-23    0.056209
Name: output_10, dtype: float64

In [259]:
# Compute the mean of all the "output_10" instances

dfcomp_daily_returns[dfcomp_daily_returns ["5_day_cmlt_%"] > 0.1]["output_10"].mean()

-0.018264411986093455

In [260]:
# List all "output_30" instances where "5_day_cmlt_%" > 0.1

'''
# can do it this way as well: 
list(dfcomp_daily_returns[dfcomp_daily_returns ["5_day_cmlt_%"] > 0.1]["output_30"])

'''
dfcomp_daily_returns[dfcomp_daily_returns ["5_day_cmlt_%"] > 0.1]["output_30"]

Date
2012-07-03   -0.005786
2015-02-02   -0.068169
2015-02-03   -0.058421
2015-02-04   -0.055402
2015-02-05   -0.053029
2015-03-26   -0.012493
2015-04-07   -0.013398
2015-04-16   -0.014685
2015-08-28    0.008603
2015-08-31    0.007172
2015-09-01    0.000927
2015-09-02    0.004458
2015-10-08   -0.032225
2015-11-03    0.043497
2016-01-27    0.006266
2016-01-28   -0.003238
2016-03-07   -0.013119
2016-04-11   -0.014498
2016-04-12   -0.016671
2016-04-14    0.007731
2016-05-16    0.026501
2016-08-17   -0.012044
2016-08-18   -0.014087
2016-12-02    0.006474
2016-12-06    0.018870
2018-06-27   -0.013417
2018-06-28   -0.001020
2019-01-09    0.001723
2019-01-10   -0.009108
2019-06-24    0.006680
2020-04-03   -0.195427
2020-04-06   -0.169086
2020-04-07   -0.147579
2020-04-08   -0.145766
2020-05-04   -0.097966
2020-05-05   -0.094447
2020-05-06   -0.076505
2020-05-08   -0.071661
2020-05-18   -0.053530
2020-05-19   -0.048230
2020-05-20   -0.046001
2020-05-21   -0.050050
2020-05-22   -0.031312
2020-06-05   -0.023977
2021-08-27   -0.021066
2021-12-08    0.196244
2022-03-02    0.025266
2022-03-03    0.008335
2022-03-04   -0.018747
2022-03-07   -0.061208
2022-03-08   -0.006163
2022-03-22         NaN
2022-03-23         NaN
Name: output_30, dtype: float64

In [261]:
# Compute the mean of all the "output_30" instances

dfcomp_daily_returns[dfcomp_daily_returns ["5_day_cmlt_%"] > 0.1]["output_30"].mean()

-0.027466360277976217

In [262]:
# Summary Code and Outputs

# How many occurrences are there where the USO 5-Day rolling average is > 10%?
print(len(list(dfcomp_daily_returns[dfcomp_daily_returns["5_day_cmlt_%"] > 0.1].index)))
# What is the average of these 53 occurrences?
print(dfcomp_daily_returns[dfcomp_daily_returns ["5_day_cmlt_%"] > 0.1]["5_day_cmlt_%"].mean())
# Compute the mean of all the "output_10" instances
print(dfcomp_daily_returns[dfcomp_daily_returns ["5_day_cmlt_%"] > 0.1]["output_10"].mean())
# Compute the mean of all the "output_30" instances
print(dfcomp_daily_returns[dfcomp_daily_returns ["5_day_cmlt_%"] > 0.1]["output_30"].mean())

NameError: name 'Summarized' is not defined